/* body {
    background-image: url("station.jpg");
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(15, 14, 14);
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: darkred;
}

#save-btn {
    background: darkgreen;
} */

/* body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 0;
    margin: 0;
    text-align: center;
}

span {
    border-bottom: 2px solid black;
    padding: 4px;
}

button {
    margin: 20px 0;
    background: white;
    color: black;
    border: 1px solid black;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 8px;
} */

/* h1 {
    color: goldenrod;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("table.png");
    background-size: cover;
    text-align: center;
    color: white;
    font-weight: bold;
}

#message-el {
    font-style: italic;
    
}
button {
    color: #016f32;
    width: 150px;
    background: goldenrod ;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}
.buttons{
    display: flex;
    flex-direction: column;
    transform: translateX(260px);
} */

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
   background-color: rgb(28, 9, 13);
    height: 100vh;
    color: #e98a1d;

}

h1 {
    text-shadow: 0px 3px 0px black;
    line-height: 24px;
    transform: rotate(-9deg);
}

#stage {
    width: 100%;
    height: 100px;
    padding: 30px 0;
    font-size: 50px;
    margin: 0;
}

.IMG {
transform: rotate(.980turn);
transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
transition-duration: 5s;
}














